<!DOCTYPE html>
<html>
<head>
    <title>Actor/Actress List</title>
</head>
<body>
    <h1>Actor/Actress List</h1>
    <table>
        <tr>
            <th>Actor ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Gender</th>
        </tr>
        {% for actor in actors %}
        <tr>
            <td>{{ actor.a_id }}</td>
            <td>{{ actor.a_name }}</td>
            <td>{{ actor.a_lastname }}</td>
            <td>{{ actor.a_gender }}</td>
        </tr>
        {% endfor %}
    </table>
    
</body>
</html>
