<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://drive.google.com/uc?export=view&id=1865vukf3h2sA-iY4c6RO7mpgkAW_-cFH"/>

        <title>Film Library</title>
        <link rel="icon" type="x-icon" href="https://drive.google.com/uc?export=view&id=11Cum2xO6Lw-rfqNkSk5-E8G7cwPi_KGN"/>
    </head>
    <body>
        <div class="container">
            <div class="overlay">
                <!-- Menu -->
                <!-- <button class="MenuButton">Menu</button> -->
                <div class="menu" onclick="myFunction(this)">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                    <div class="dropdown">
                        <a onclick="openForm()">Login</a>
                        <a href="/movies">Film List</a>
                        <a href="/actors">Actors List</a>
                    </div>
                </div>
                
                <script>
                function myFunction(x) {
                    x.classList.toggle("change");
                }
                </script>

                <img class="title" src="https://drive.google.com/uc?export=view&id=1sW9E4mbIigPEez9I_JJfGDpmhomIn723">
                <div class="form-popup" id="myForm">
                    <form action="/login" class="form-container" method="POST">
                        <h1>Login</h1>
                
                        <label for="email"><b>Email</b></label>
                        <input type="text" placeholder="Enter Email" name="loginEmail" required>
                
                        <label for="psw"><b>Password</b></label>
                        <input type="password" placeholder="Enter Password" name="loginPass" required>
                
                
                        <button type="submit" class="btn">Login</button>
                        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                    </form>
                </div>
                  
                  
                  <script>
                  function openForm() {
                    document.getElementById("myForm").style.display = "block";
                  }
            
                  function closeForm() {
                    document.getElementById("myForm").style.display = "none";
                  }
                </script>
            </div>
            <img class="slideimg" src="https://drive.google.com/uc?export=view&1LYCKZn7vybWFBl--7NjZfF6yTgEc521E">
            <img class="slideimg" src="https://drive.google.com/uc?export=view&id=16VJY4gGnNpG6bz941k5iNRShOMjkfNwm">
            <img class="slideimg" src="https://drive.google.com/uc?export=view&id=1FzYrr3V0BSyGuQ9fYBi9vi7eMT7xN_1J">
        </div>
    </body>
</html>